In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
data = pd.read_csv('../0. Data/data_original.csv')

In [3]:
data

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,0.0,1.0,1.0,1.0,45.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,5.0,0.0,1.0,5.0,6.0,7.0
253676,2.0,1.0,1.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,1.0,0.0,11.0,2.0,4.0
253677,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,2.0
253678,0.0,1.0,0.0,1.0,23.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,7.0,5.0,1.0
253679,2.0,1.0,1.0,1.0,25.0,0.0,0.0,1.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,9.0,6.0,2.0

# Kastovanje tipova

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   HeartDiseaseorAttack  253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

Iako su svi atributi zapisani u obliku float64, vidimo da su zapravo tipa int64 ili object.

In [5]:
# Kategoricki atributi
categorical = [
    'Diabetes_012', 
    'HighBP', 
    'HighChol', 
    'CholCheck', 
    'Smoker', 
    'Stroke', 
    'HeartDiseaseorAttack', 
    'PhysActivity', 
    'Fruits', 
    'Veggies', 
    'HvyAlcoholConsump', 
    'AnyHealthcare', 
    'NoDocbcCost', 
    'GenHlth',
    'DiffWalk',
    'Sex',
    'Age',
    'Education',
    'Income'
]

In [6]:
data[['BMI', 'PhysHlth', 'MentHlth']] = data[['BMI', 'PhysHlth', 'MentHlth']].astype('int64')
data[categorical] = data[categorical].astype('int64').astype(object)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  object
 1   HighBP                253680 non-null  object
 2   HighChol              253680 non-null  object
 3   CholCheck             253680 non-null  object
 4   BMI                   253680 non-null  int64
 5   Smoker                253680 non-null  object
 6   Stroke                253680 non-null  object
 7   HeartDiseaseorAttack  253680 non-null  object
 8   PhysActivity          253680 non-null  object
 9   Fruits                253680 non-null  object
 10  Veggies               253680 non-null  object
 11  HvyAlcoholConsump     253680 non-null  object
 12  AnyHealthcare         253680 non-null  object
 13  NoDocbcCost           253680 non-null  object
 14  GenHlth               253680 non-null  object
 15  MentHlth              253680 non-null  int64
 16  PhysHlth              253680 non-null  int64
 17  DiffWalk              253680 non-null  object
 18  Sex                   253680 non-null  object
 19  Age                   253680 non-null  object
 20  Education             253680 non-null  object
 21  Income                253680 non-null  object
dtypes: int64(3), object(19)
memory usage: 42.6+ MB

# Podela numeričkih atributa u kategorije

In [8]:
for c in data.columns:
    print(c, end=" ")
    print(data[c].unique())

Diabetes_012 [0 2 1]
HighBP [1 0]
HighChol [1 0]
CholCheck [1 0]
BMI [40 25 28 27 24 30 34 26 33 21 23 22 38 32 37 31 29 20 35 45 39 19 47 18
 36 43 55 49 42 17 16 41 44 50 59 48 52 46 54 57 53 14 15 51 58 63 61 56
 74 62 64 66 73 85 60 67 65 70 82 79 92 68 72 88 96 13 81 71 75 12 77 69
 76 87 89 84 95 98 91 86 83 80 90 78]
Smoker [1 0]
Stroke [0 1]
HeartDiseaseorAttack [0 1]
PhysActivity [0 1]
Fruits [0 1]
Veggies [1 0]
HvyAlcoholConsump [0 1]
AnyHealthcare [1 0]
NoDocbcCost [0 1]
GenHlth [5 3 2 4 1]
MentHlth [18  0 30  3  5 15 10  6 20  2 25  1  4  7  8 21 14 26 29 16 28 11 12 24
 17 13 27 19 22  9 23]
PhysHlth [15  0 30  2 14 28  7 20  3 10  1  5 17  4 19  6 12 25 27 21 22  8 29 24
  9 16 18 23 13 26 11]
DiffWalk [1 0]
Sex [0 1]
Age [9 7 11 10 8 13 4 6 2 12 5 1 3]
Education [4 6 3 5 2 1]
Income [3 1 8 6 4 7 2 5]

## BMI

Na osnovu domenskog znanja, možemo da pretpostavimo da nam za klasifikaciju neće biti neophodno da znamo tačan BMI, već samo kojoj kategoriji pripada:
- 0: BMI <= 18
- 1: 19 <= BMI <= 24
- 2: 25 <= BMI <= 29
- 3: 30 <= BMI <= 39
- 4: BMI > 40

In [9]:
data['BMI'] = pd.cut(x = data['BMI'], bins = [0, 18, 24, 29, 39, 100], labels = [0, 1, 2, 3, 4])

In [10]:
data['BMI']

0         4
1         2
2         2
3         2
4         1
         ..
253675    4
253676    0
253677    2
253678    1
253679    2
Name: BMI, Length: 253680, dtype: category
Categories (5, int64): [0 < 1 < 2 < 3 < 4]

## PhysHlth i MentHlth

Ovi atributi predstavljaju broj dana u prethodnih 30 za koje važi da je osoba imala problema sa fizičkim/mentalnim zdravljem. Možemo da pokušamo da radimo sa podacima u ovom obliku, ali možemo da pokušamo i da ih podelimo u neke kategorije.

Kada je u pitanju mentalno zdravlje i postavljanje dijagnoza, često se kao kriterijum uzima da su simptomi prisutni oko 2 nedelje. Napravicemo podelu tako da sve do 10 dana tretiramo kao normalno, a da preko 10 dana tretiramo kao problem. Slično ćemo uraditi i za fizičko zdravlje.

In [11]:
data['PhysHlth'] = pd.cut(x = data['PhysHlth'], bins = [-1, 15, 31], labels = [0, 1])
data['MentHlth'] = pd.cut(x = data['MentHlth'], bins = [-1, 15, 31], labels = [0, 1])

In [12]:
data

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0,1,1,1,4,1,0,0,0,0,...,1,0,5,1,0,1,0,9,4,3
1,0,0,0,0,2,1,0,0,1,0,...,0,1,3,0,0,0,0,7,6,1
2,0,1,1,1,2,0,0,0,0,1,...,1,1,5,1,1,1,0,9,4,8
3,0,1,0,1,2,0,0,0,1,1,...,1,0,2,0,0,0,0,11,3,6
4,0,1,1,1,1,0,0,0,1,1,...,1,0,2,0,0,0,0,11,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,0,1,1,1,4,0,0,0,0,1,...,1,0,3,0,0,0,1,5,6,7
253676,2,1,1,1,0,0,0,0,0,0,...,1,0,4,0,0,1,0,11,2,4
253677,0,0,0,1,2,0,0,0,1,1,...,1,0,1,0,0,0,0,2,5,2
253678,0,1,0,1,1,0,0,0,0,1,...,1,0,3,0,0,0,1,7,5,1
253679,2,1,1,1,2,0,0,1,1,1,...,1,0,2,0,0,0,0,9,6,2

# Čuvanje sređenog skupa podataka

In [13]:
data.to_csv('../0. Data/data_processed.csv')