In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
from sklearn import preprocessing
from kmodes.kprototypes import KPrototypes

In [2]:
data = pd.read_csv('../0. Data/data_balanced_kp.csv')

In [3]:
data

,Unnamed: 0,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,Diabetes_012
0,0,1.000000,1.000000,1.0,40.000000,1.000000,0.0,0.0,0.0,0.000000,...,0.0,5.000000,18.0,15.0,1.000000,0.000000,9.000000,4.000000,3.000000,0.0
1,1,0.000000,0.000000,0.0,25.000000,1.000000,0.0,0.0,1.0,0.000000,...,1.0,3.000000,0.0,0.0,0.000000,0.000000,7.000000,6.000000,1.000000,0.0
2,2,1.000000,1.000000,1.0,28.000000,0.000000,0.0,0.0,0.0,1.000000,...,1.0,5.000000,30.0,30.0,1.000000,0.000000,9.000000,4.000000,8.000000,0.0
3,3,1.000000,0.000000,1.0,27.000000,0.000000,0.0,0.0,1.0,1.000000,...,0.0,2.000000,0.0,0.0,0.000000,0.000000,11.000000,3.000000,6.000000,0.0
4,4,1.000000,1.000000,1.0,24.000000,0.000000,0.0,0.0,1.0,1.000000,...,0.0,2.000000,3.0,0.0,0.000000,0.000000,11.000000,5.000000,4.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641104,641104,0.310319,1.000000,1.0,35.620638,0.310319,0.0,0.0,0.0,1.000000,...,0.0,4.000000,15.0,15.0,0.689681,0.000000,7.000000,5.000000,8.000000,2.0
641105,641105,1.000000,0.992412,1.0,29.000000,0.007588,0.0,0.0,1.0,1.000000,...,0.0,3.000000,0.0,0.0,0.007588,0.000000,12.992412,5.000000,5.000000,2.0
641106,641106,1.000000,1.000000,1.0,27.000000,1.000000,0.0,0.0,1.0,1.000000,...,0.0,3.242494,0.0,0.0,0.000000,0.000000,10.000000,4.000000,3.242494,2.0
641107,641107,1.000000,1.000000,1.0,29.000000,1.000000,0.0,1.0,1.0,1.000000,...,0.0,2.876033,0.0,0.0,1.000000,0.123967,12.000000,6.000000,6.876033,2.0
641108,641108,1.000000,1.000000,1.0,35.000000,0.000000,1.0,1.0,0.0,0.674526,...,0.0,3.674526,0.0,10.0,1.000000,0.000000,13.000000,4.674526,1.674526,2.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641109 entries, 0 to 641108
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            641109 non-null  int64
 1   HighBP                641109 non-null  float64
 2   HighChol              641109 non-null  float64
 3   CholCheck             641109 non-null  float64
 4   BMI                   641109 non-null  float64
 5   Smoker                641109 non-null  float64
 6   Stroke                641109 non-null  float64
 7   HeartDiseaseorAttack  641109 non-null  float64
 8   PhysActivity          641109 non-null  float64
 9   Fruits                641109 non-null  float64
 10  Veggies               641109 non-null  float64
 11  HvyAlcoholConsump     641109 non-null  float64
 12  AnyHealthcare         641109 non-null  float64
 13  NoDocbcCost           641109 non-null  float64
 14  GenHlth               641109 non-null  float64
 15  MentHlth              641109 non-null  float64
 16  PhysHlth              641109 non-null  float64
 17  DiffWalk              641109 non-null  float64
 18  Sex                   641109 non-null  float64
 19  Age                   641109 non-null  float64
 20  Education             641109 non-null  float64
 21  Income                641109 non-null  float64
 22  Diabetes_012          641109 non-null  float64
dtypes: float64(22), int64(1)
memory usage: 112.5 MB

In [5]:
data = data.astype('int64')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641109 entries, 0 to 641108
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            641109 non-null  int64
 1   HighBP                641109 non-null  int64
 2   HighChol              641109 non-null  int64
 3   CholCheck             641109 non-null  int64
 4   BMI                   641109 non-null  int64
 5   Smoker                641109 non-null  int64
 6   Stroke                641109 non-null  int64
 7   HeartDiseaseorAttack  641109 non-null  int64
 8   PhysActivity          641109 non-null  int64
 9   Fruits                641109 non-null  int64
 10  Veggies               641109 non-null  int64
 11  HvyAlcoholConsump     641109 non-null  int64
 12  AnyHealthcare         641109 non-null  int64
 13  NoDocbcCost           641109 non-null  int64
 14  GenHlth               641109 non-null  int64
 15  MentHlth              641109 non-null  int64
 16  PhysHlth              641109 non-null  int64
 17  DiffWalk              641109 non-null  int64
 18  Sex                   641109 non-null  int64
 19  Age                   641109 non-null  int64
 20  Education             641109 non-null  int64
 21  Income                641109 non-null  int64
 22  Diabetes_012          641109 non-null  int64
dtypes: int64(23)
memory usage: 112.5 MB

In [7]:
data[data.columns[0:4]] = data[data.columns[0:4]].astype(object)
data[data.columns[5:15]] = data[data.columns[5:15]].astype(object)
data[data.columns[17:22]] = data[data.columns[17:22]].astype(object)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641109 entries, 0 to 641108
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            641109 non-null  object
 1   HighBP                641109 non-null  object
 2   HighChol              641109 non-null  object
 3   CholCheck             641109 non-null  object
 4   BMI                   641109 non-null  int64
 5   Smoker                641109 non-null  object
 6   Stroke                641109 non-null  object
 7   HeartDiseaseorAttack  641109 non-null  object
 8   PhysActivity          641109 non-null  object
 9   Fruits                641109 non-null  object
 10  Veggies               641109 non-null  object
 11  HvyAlcoholConsump     641109 non-null  object
 12  AnyHealthcare         641109 non-null  object
 13  NoDocbcCost           641109 non-null  object
 14  GenHlth               641109 non-null  object
 15  MentHlth              641109 non-null  int64
 16  PhysHlth              641109 non-null  int64
 17  DiffWalk              641109 non-null  object
 18  Sex                   641109 non-null  object
 19  Age                   641109 non-null  object
 20  Education             641109 non-null  object
 21  Income                641109 non-null  object
 22  Diabetes_012          641109 non-null  int64
dtypes: int64(4), object(19)
memory usage: 112.5+ MB

In [9]:
num_features = data.select_dtypes('int64').columns

In [10]:
num_features

Index(['BMI', 'MentHlth', 'PhysHlth', 'Diabetes_012'], dtype='object')

In [11]:
scaler = preprocessing.MinMaxScaler()

In [12]:
data[num_features] = scaler.fit_transform(data[num_features])

In [13]:
data

,Unnamed: 0,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,Diabetes_012
0,0,1,1,1,0.325581,1,0,0,0,0,...,0,5,0.6,0.500000,1,0,9,4,3,0.0
1,1,0,0,0,0.151163,1,0,0,1,0,...,1,3,0.0,0.000000,0,0,7,6,1,0.0
2,2,1,1,1,0.186047,0,0,0,0,1,...,1,5,1.0,1.000000,1,0,9,4,8,0.0
3,3,1,0,1,0.174419,0,0,0,1,1,...,0,2,0.0,0.000000,0,0,11,3,6,0.0
4,4,1,1,1,0.139535,0,0,0,1,1,...,0,2,0.1,0.000000,0,0,11,5,4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641104,641104,0,1,1,0.267442,0,0,0,0,1,...,0,4,0.5,0.500000,0,0,7,5,8,1.0
641105,641105,1,0,1,0.197674,0,0,0,1,1,...,0,3,0.0,0.000000,0,0,12,5,5,1.0
641106,641106,1,1,1,0.174419,1,0,0,1,1,...,0,3,0.0,0.000000,0,0,10,4,3,1.0
641107,641107,1,1,1,0.197674,1,0,1,1,1,...,0,2,0.0,0.000000,1,0,12,6,6,1.0
641108,641108,1,1,1,0.267442,0,1,1,0,0,...,0,3,0.0,0.333333,1,0,13,4,1,1.0

In [14]:
kproto = KPrototypes(n_clusters=3, init='random', verbose=1, n_init=1)
clusters = kproto.fit_predict(data.drop('Diabetes_012', axis=1), categorical=[0,1,2,3,5,6,7,8,9,10,11,12,13,14,17,18,19,20])

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 136946, ncost: 1923508.11807282
Run: 1, iteration: 2/100, moves: 48931, ncost: 1890732.8317278877
Run: 1, iteration: 3/100, moves: 33601, ncost: 1866674.7384624644
Run: 1, iteration: 4/100, moves: 20380, ncost: 1856643.4174158277
Run: 1, iteration: 5/100, moves: 548, ncost: 1856633.0911359158
Run: 1, iteration: 6/100, moves: 0, ncost: 1856633.0911359158

In [15]:
data_with_clusters = data
data_with_clusters['Clusters'] = clusters

In [ ]:
plt.subplots(figsize = (15,5))

for c in data.columns:
    sb.countplot(x = data_with_clusters[c], order = data_with_clusters[c].value_counts().index, hue = data_with_clusters['Clusters'], palette="magma")
    plt.show()